*{
    margin: 0;
    padding: 0;
    font-family: helvetica;

}
body{
    background-color: rgba(255, 228, 196, 0.667);
    scroll-behavior: smooth;

}
.navbar{
    background-color:rgb(145, 139, 136);
    width: 1500px;
    height: 80px;
    position: fixed;
    margin-top: -300px;
    
}
.header{
    float: right;
    word-spacing: 25px;
    margin-right: 25px;
    margin-top: 35px;
}
.header a{
    color: black;
    text-decoration: none;
    margin-right: 25px;
    font-size: 15px;

}
.header a:active{
    text-decoration: underline;

}
.header a:hover{
    background-color: rgb(179, 146, 91);
    padding: 15px;
    border-radius: 10px;
    transition: 0.5s ease;
    font-size: 17px;
    transform: scale(1.1);
    
}

#logo{
    margin-top: 20px;
    margin-right: 100px;
    align-items: center;
    width: 40px;
    border-radius: 30px;
    float: right;
    

}
.sear{
    margin-top: 15px;
    margin-left: 100px;
    
}
#logo1{
    margin-right: 250px;
    font-family: 'lucida Calligraphy';
    cursor: pointer;
}
#see{
    
    border-radius: 3px;
    text-decoration: none;
    padding: 5px;
    color:white;
    background-color: rgba(227, 184, 129, 0.584);
    margin-left: 5px;
    letter-spacing: 1px;
}
#see:hover{
    background-color: orange;
    padding: 10px;
    transition: .3s ease

}
#search{
    
    border-radius: 20px;
    padding: 4px;
    width: 300px;
    background-color: rgba(255, 228, 196, 0.315);
    border-color: black;
    text-align: center;
    margin-left: 55px;
    background-image: url(search.jpeg);
    background-position: right;
    background-size: 30px;
    border-radius: 5px;
    
    background-repeat: no-repeat;
    
}#search:hover{
    background-color: white;
    text-align: center;
}
.note{
    word-spacing: 5px;
    margin-top: 250px;
    margin-left: 150px;
}
#first{
    font-size: 50px;
    letter-spacing: 10px;
    margin-top: 300px;
}
#creator{
    margin-left: 500px;
}
#font{
    margin-left: 56px;
}
#image{
    float: right;
    height: 500px;
    width: 400px;
    margin-right: 90px;
    margin-top: -150px;
    border-radius: 70px;
    box-shadow: 15px 15px 15px;
    
}
#image:hover{
    transform: scale(1.1);
    box-shadow: 23px 23px 23px;
    cursor: pointer;
}
#break{
    margin-top: 250px;
    margin-left: 80px;
    margin-right: 80px;
}

.contain{
    background-color: blueviolet;
    border-radius: 50px;
    margin-left: 60px;
    margin-right: 60px;


}

.photos{
    margin-left: 120px;
}
.gallery{
    margin-top: 35px;
}
.img{
    margin-right: 50px;
    margin-top: 50px;
    height: 200px;
    width: 200px;
    display: grid 2;
    
}

.img:hover{
    transform: scale(1.1);

}
span{
    float: right;
    margin-top: 200px;
}


}#bot{
    margin-top: 100px;
}