*{
    margin: 0;
    padding: 0;
    font-family: helvetica;

}
body{
    background: url(photo.jpg);
    scroll-behavior: smooth;
    background-size:cover;
    

}
.navbar{
    background-color:rgba(145, 139, 136, 0);
    width: 1500px;
    height: 80px;
    position: fixed;
    
}
.header{
    float: right;
    word-spacing: 10px;
    margin-right: 5px;
    margin-top: 60px;
}
.header a{
    color:white;
    text-decoration: none;
    margin-right: 25px;
    font-size: 15px;
    padding: 15px;
    border-radius: 10px;
    letter-spacing: 2px;
    background:linear-gradient(120deg, #29a3b9, #7d339d99);
    border: 1px solid rgba(255, 255, 255, 0.356);
    transition: 0.8s ease;
}
.header a:active{
    text-decoration: underline;
}
a.active{
    background-color: rgb(179, 146, 91);
    padding: 15px;
    border-radius: 10px;
    font-size: 17px;
    transform: scale(1.1);
    text-decoration: underline;
}
.header a:hover{
    background:linear-gradient(120deg, #29a3b9, #7d339d);
    padding: 16px;
    border-radius: 10px;
    font-size: 17px;
    transform: scale(1.1);
    letter-spacing: 3px;
    margin-right: 23px;
}
#logo{
    margin-top: 49px;
    margin-right: 100px;
    align-items: center;
    width: 40px;
    border-radius: 30px;
    float: right;
    transition: 1s ease;
}
#logo:hover{
    width: 50px;
    margin-right: 90px;
    margin-top: 45px;
    margin-left:10px;
}
.sear{
    margin-top: 40px;
    margin-left: 100px;
}
#logo1{
    margin-right: 250px;
    font-family: 'lucida Calligraphy';
    cursor: pointer;
    color: white;
    font-size: large;
}
#see{
    border-radius: 3px;
    text-decoration: none;
    padding: 5px;
    color:white;
    background-color: rgb(227, 184, 129);
    margin-left: 5px;
    letter-spacing: 1px;
}
#see:hover{
    background-color: orange;
    padding: 10px;
    transition: .3s ease
}
#search{
    border-radius: 20px;
    padding: 5px;
    width: 300px;
    background-color: rgb(255, 228, 196);
    border-color: black;
    margin-left: 55px;
    background-image: url(search.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 260px;
    background-size: 50px;
    border-radius: 20px;
    text-align: center;
}#search:hover{
    background-color: white;
}
.content{
    margin-top: 170px;
    margin-left: 100px;
    background:linear-gradient(120deg, #29a3b9b3, #7d339d93);
    font-size: 27px;
    border: 1px solid  rgba(255, 255, 255, 0.178);
    padding: 35px;
    margin-right: 580px;
    background-color: rgba(255, 255, 255, 0.048);
    box-shadow: 10px 10px 10px gray;
    transition: 0.8s ease;
    color: white;
}
.content:hover{
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.779);
    border-bottom: 0;
    margin-right: 575px;
}
h2{
    color: orange;
}
#ex{
    margin-top: 20px;
    word-spacing: 10px;
    word-spacing: 10px;
}
#col{
    color: orange;
}

fieldset{
    background:linear-gradient(120deg, #29a3b93a, #7d339d3f);;
    margin-top: 150px;
    margin-right: 120px;
    color: white;
    font-size: 20px;
    float: right;
    padding: 40px;
    transition: 0.9s ease;
}fieldset:hover{
    padding:50px;
    margin-right: 110px;
}
#login{
    border: 1px solid rgba(0, 255, 157, 0.244);
    padding: 10px;
    letter-spacing: 6px;
    border-radius: 5px;
    width: 140px;
    text-align: center;
    background-color: rgb(0, 255, 157);
}#ty{
    height: 45px;
    width: 290px;
    font-size: medium;
    border-radius: 9px;
    text-align: center;
    background-image: url(username.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 35px;
    background-size: 27px;

}
#tp{
    height: 45px;
    width: 290px;
    font-size: medium;
    border-radius: 9px;
    text-align: center;
    background-image: url(password.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 35px;
    background-size: 27px;

}
#use{
    height: 45px;
    width: 290px;
    font-size: medium;
    border-radius: 9px;
    text-align: center;

}

#rem{
    font-size: 15px;
    color:blue;
}
#text{
    cursor: pointer;
}
#for{
    font-size: 15px;
    margin-left: 45px;
}
#submit{
    margin-top: 25px;
    margin-left: 75px;
    padding: 10px;
    width: 150px;
    font-size: large;
    border-radius: 20px;
    transition: 0.8s ease;
    cursor: pointer;
}
#submit:hover{
    background-color: rgba(0, 191, 255, 0.604);
    transform: scale(1.1);
}
#web{
    margin-top: 10px;
}
#bt{
    padding: 15px;
    border: 1px solid white;
    border-radius: 15px;
    margin-top: 20px;
    transition: 0.8s ease;
    background-color: white;
    font-family: helvetica;
}
#bt:hover{
    padding: 18px;
    background-color:orange;
    color: black;
    border-color: white;
}
#bo{
    padding: 15px;
    border: 1px solid white;
    border-radius: 15px;
    margin-top: 20px;
    transition: 0.8s ease;
    background-color:orange;
    font-family: helvetica;
    margin-left: 20px;
    
}
#bo:hover{
    padding: 18px;
    background-color:white;
    color: black;
    border-color: white;
}
#bt{
    margin-left: 235px;

}
hr{
    margin-top: 23px;
    color:rgba(240, 255, 255, 0.252);
}#ins{
    width: 30px;
    height: 30px;
    margin-top: 10px;
    border-radius: 40px;
    border-radius: 40px;
    padding: 7px;
    transition: 0.8s ease;
}
#ins:hover{
    width: 34px;
    height: 34px;
}
.logs{
    margin-top: 15px;
    margin-left: 254px;
}#fol{
    margin-left: 10px;
    font-family: 'lucida Calligraphy';
    color:white;
}
h2{
    margin-left: 120px;
}
footer{
    font-size: large;
    margin-left: 100px;
    
}
